GEMINI_API_KEY=
NBT_EXTRACTION_MODEL=gemini/gemini-3.1-flash-lite
NBT_EXTRACTION_EMBEDDING_MODEL=gemini-embedding-001
NBT_EXTRACTION_USE_PDF_KNOWLEDGE=false
NBT_EXTRACTION_BATCH_SIZE=20
NBT_EXTRACTION_CREW_MAX_ITER=1
NBT_EXTRACTION_CREW_MAX_RPM=10
